<% require 'pry' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Grocery name</title>
  </head>

  <body>
    <h1>
      </pre>
      <%= grocery_name %>


    </h1>

    <a href="/groceries">All groceries</a>
  </body>
</html>
