<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Your News</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h2>News Links</h2>
    <h3>Website Links AND Their Descriptions</h3>

    <ul>
      <% results.each do |post| %>
        <li><a href=<%= post["url"] %>><%= post["title"].capitalize %></a>  -  <%= post["description"].capitalize %></li>
      <% end %>
    </ul>

    <form action="/posts" method="post">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="url">URL:</label>
        <input type="url" id="url" name="url" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <input type="submit", value="Post!">
    </form>
  </body>
</html>
